In [1]:
_a = 21
print(_a)

21

In [1]:
x = int(input())
if x % 2 == 0:
    print("the number is even")
else:
    print("the number is odd")

321
the number is odd

In [2]:
for i in range(10):
    print('HI')

HI
HI
HI
HI
HI
HI
HI
HI
HI
HI

In [3]:
for i in range(11 , 50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [4]:
for i in range(11, 50):
    if i % 2 !=0:
        print(i)
    else:
        pass

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [5]:
for i in range(11 ,50 ,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [6]:
# the 3rd variable is the divider in the list

In [7]:
for i in range (11, 15, 3):
    print(i)

11
14

In [8]:
def area_circle(radius):
    area = 3.14 * radius * radius
    return area

In [9]:
area_circle(2)

12.56

In [10]:
def greater(a, b):
    if a>b:
        greater = a
    else:
        greater = b
        
    return greater

In [11]:
greater(10, 20)

20

In [12]:
list = [1 ,'hello', 121, "bye"]

In [13]:
list[1:4]

['hello', 121, 'bye']

In [14]:
list[-1]

'bye'

In [15]:
list.append(32)

In [16]:
list

[1, 'hello', 121, 'bye', 32]

In [17]:
list.extend(["sorry", "going"])

In [18]:
list

[1, 'hello', 121, 'bye', 32, 'sorry', 'going']

In [19]:
list.append([7 ,32])

In [20]:
list

[1, 'hello', 121, 'bye', 32, 'sorry', 'going', [7, 32]]

In [21]:
#deleting element by its value
list.remove(32)

In [22]:
list

[1, 'hello', 121, 'bye', 'sorry', 'going', [7, 32]]

In [23]:
#removing by its index

In [24]:
del list[0]

In [25]:
list

['hello', 121, 'bye', 'sorry', 'going', [7, 32]]

In [26]:
for i in list:
    print(i)

hello
121
bye
sorry
going
[7, 32]

In [27]:
list[0]

'hello'

In [28]:
list[0:4]

['hello', 121, 'bye', 'sorry']

In [29]:
for list in list:
    print(list)

hello
121
bye
sorry
going
[7, 32]

In [30]:
list.remove([7, 32])

ValueError: list.remove(x): x not in list

In [31]:
 list

[7, 32]

# Dictionary

In [32]:
dict = {'student1':[1, 201], 'student2':[2, 212]}

In [35]:
dict.update({'student3': [3, 211]})

In [36]:
dict

{'student1': [1, 201], 'student2': [2, 212], 'student3': [3, 211]}

In [38]:
del dict['student3']

In [39]:
dict

{'student1': [1, 201], 'student2': [2, 212]}

#pandas

In [40]:
import pandas as pd

In [41]:
#readjng csv

In [ ]:
df = pd.read_csv("file.csv")
df1 = pd.read_excel("file.exel")

# Dataframes

In [43]:
#reading the data

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("data.csv")

In [46]:
#dimentions
df.shape

(699, 11)

In [48]:
#top 5 rows
df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [49]:
#bottom 5 rows
df.tail()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2
696,888820,5,10,10,3,7.0,3,8,10,2,4
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [50]:
df.tail(10)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
689,654546,1,1,1,1,2.0,1,1,1,8,2
690,654546,1,1,1,3,2.0,1,1,1,1,2
691,695091,5,10,10,5,4.0,5,4,4,1,4
692,714039,3,1,1,1,2.0,1,1,1,1,2
693,763235,3,1,1,1,2.0,1,2,1,2,2
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2
696,888820,5,10,10,3,7.0,3,8,10,2,4
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [51]:
#seeing all the column in the data frames
df.columns

Index(['ID', 'Clump_Thickness', 'Cell_Size_Uniformity',
       'Cell_Shape_Uniformity', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Cancer_Type'],
      dtype='object')

In [54]:
#selectina single column
df['Bare_Nuclei']

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [56]:
df[['Bare_Nuclei', 'Cancer_Type']]

    Bare_Nuclei  Cancer_Type
0             1            2
1            10            2
2             2            2
3             4            2
4             1            2
..          ...          ...
694           2            2
695           1            2
696           3            4
697           4            4
698           5            4

[699 rows x 2 columns]

In [57]:
#indexing

In [58]:
#selecting rows by their position
df.iloc[:5]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [59]:
#selecting columns by their position
df.iloc[:,:2]  #the , ":" is the selection for the columns

          ID  Clump_Thickness
0    1000025                5
1    1002945                5
2    1015425                3
3    1016277                6
4    1017023                4
..       ...              ...
694   776715                3
695   841769                2
696   888820                5
697   897471                4
698   897471                4

[699 rows x 2 columns]

In [60]:
df[df['Cancer_Type']==2]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
690,654546,1,1,1,3,2.0,1,1,1,1,2
692,714039,3,1,1,1,2.0,1,1,1,1,2
693,763235,3,1,1,1,2.0,1,2,1,2,2
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2