In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data_cleaned.csv')

In [3]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
data.shape

(891, 25)

In [5]:
x = data.drop(['Survived'], axis = 1)

In [6]:
y = data['Survived']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train_x, valid_x, train_y, valid_y = train_test_split(x, y, random_state = 101, stratify= y)

In [10]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [13]:
valid_y.value_counts()/len(valid_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
clf = DecisionTreeClassifier()

In [16]:
clf.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [17]:
clf.score(train_x, train_y)

0.9880239520958084

In [18]:
clf.score(valid_x, valid_y)

0.7668161434977578

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
clf = RandomForestClassifier()

In [21]:
clf.fit(train_x, train_y)

/Users/harshitruwali/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
clf.score(valid_x, valid_y)

0.7892376681614349

In [23]:
clf.score(train_x, train_y)

0.968562874251497

In [24]:
clf = RandomForestClassifier(n_estimators=100,max_depth=12 )

In [26]:
clf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=12, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [28]:
clf.score(train_x, train_y)

0.9670658682634731

In [29]:
clf.score(valid_x, valid_y)

0.7802690582959642

In [34]:
clf.feature_importances_

array([0.2019609 , 0.20560503, 0.03187218, 0.01643868, 0.05397067,
       0.17472171, 0.16795718, 0.01599616, 0.01810615, 0.00605643,
       0.00629347, 0.00399877, 0.00110241, 0.00277211, 0.02048217,
       0.01342366, 0.01082628, 0.001249  , 0.00271196, 0.00284019,
       0.00073601, 0.01355679, 0.01158768, 0.01573442])

In [35]:
pd.Series(clf.feature_importances_, index = train_x.columns)

Age           0.201961
Fare          0.205605
Pclass_1      0.031872
Pclass_2      0.016439
Pclass_3      0.053971
Sex_female    0.174722
Sex_male      0.167957
SibSp_0       0.015996
SibSp_1       0.018106
SibSp_2       0.006056
SibSp_3       0.006293
SibSp_4       0.003999
SibSp_5       0.001102
SibSp_8       0.002772
Parch_0       0.020482
Parch_1       0.013424
Parch_2       0.010826
Parch_3       0.001249
Parch_4       0.002712
Parch_5       0.002840
Parch_6       0.000736
Embarked_C    0.013557
Embarked_Q    0.011588
Embarked_S    0.015734
dtype: float64