In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('churn_prediction.csv')

In [3]:
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,Male,0.0,self_employed,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
1,2,310,35,Male,0.0,self_employed,NaN,2,3214,60.0,...,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0
2,4,2356,31,Male,0.0,salaried,146.0,2,41,NaN,...,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0
3,5,478,90,NaN,NaN,self_employed,1020.0,2,582,147.0,...,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1
4,6,2531,42,Male,2.0,self_employed,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1

In [4]:
data.isnull().sum()

customer_id                          0
vintage                              0
age                                  0
gender                             525
dependents                        2463
occupation                          80
city                               803
customer_nw_category                 0
branch_code                          0
days_since_last_transaction       3223
current_balance                      0
previous_month_end_balance           0
average_monthly_balance_prevQ        0
average_monthly_balance_prevQ2       0
current_month_credit                 0
previous_month_credit                0
current_month_debit                  0
previous_month_debit                 0
current_month_balance                0
previous_month_balance               0
churn                                0
dtype: int64

In [5]:
data['gender'].value_counts()

Male      16548
Female    11309
Name: gender, dtype: int64

In [6]:
data.fillna('Male', inplace = True)

In [7]:
data['occupation'].value_counts()

self_employed    17476
salaried          6704
student           2058
retired           2024
Male                80
company             40
Name: occupation, dtype: int64

In [8]:
data.fillna('self_employed', inplace = True)

In [9]:
data['city'].value_counts()

1020.0    3479
1096.0    2016
409.0     1334
146.0     1291
834.0     1138
          ...
1098.0       1
1099.0       1
1101.0       1
1102.0       1
798.0        1
Name: city, Length: 1605, dtype: int64

In [10]:
data['days_since_last_transaction'].value_counts()

Male     3223
0.0      1672
3.0       831
14.0      654
4.0       632
         ...
225.0       1
351.0       1
321.0       1
134.0       1
92.0        1
Name: days_since_last_transaction, Length: 361, dtype: int64

In [11]:
data = pd.get_dummies(data)

In [12]:
x = data.drop(['churn'], axis = 1)
y = data['churn']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
train_x, valid_x, train_y, valid_y= train_test_split(x, y, test_size = 0.3, random_state=1)